html{
    box-sizing:border-box;
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing:inherit;
}
h1,h2,h3,h4,h5,h5{
    padding: 0;
    margin: 0;
}

li{
    list-style-type:none ;
}


a{
    text-decoration: none;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color:#000;
}
/* font-family: 'PT Serif', serif;
font-family: 'Roboto Condensed', sans-serif; */

.header{
    text-align: center;
}

.header__logo{
    padding: 88px 0 85px;
}

.menu{
    border-top: 2px solid #C4C4C4;
}

.menu__list{
    display: flex;
    justify-content: center;
}
.menu__list-link{
    display: block;
    font-size: 24px;
    line-height: 28px;
    color: #888888;
    padding: 34px 10px 38px; 
    border-left:1px solid #c4c4c4;  
    border-right:1px solid #c4c4c4;
    transition: 0.5s;
    width: 100%;
}
.menu__list-link--active{
    background: #020202;
    color: #FFFFFF;
}
.menu__list-link:hover{
    background: #020202;
    color: #FFFFFF;
}
.menu__list-item:first-child{
    border-left:1px solid #c4c4c4;
}

.menu__list-item:last-child{
    border-right:1px solid #c4c4c4;
}
.menu__list-item{
    display: flex;
    width: 300px;
}

.slider__item{
    min-height: 600px;
    background-repeat: no-repeat;
    background-position:top center;
    background-size: cover;
}

.slick-arrow{
    border:none;
    outline: none;
    background-color: transparent;
    position: absolute;
    top: /* calc(50% + 35px) */ 50%;
    z-index: 5;
    cursor: pointer;
    transform: translateY(-50%);
}
.slick-prev{
    left: 20px;
}
.slick-next{
    right: 20px;
}

.slick-arrow:hover{
    stroke: black; 
}

.search__inner{
    padding: 60px 0 70px;
}
.search__form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search__form-label{
    font-size: 24px;
    line-height: 24px;
    color: #888888;
    display: flex;
    margin-right: 70px;
    width: 156px;
}

.search__form-input{
    height: 70px;
    width: 430px;
    padding:0 15px;
    font-size: 18px;
    line-height: 24px;
    color: #888888;
    display: block;
}

.search__form-input:placeholder{
    font-size: 18px;
    line-height: 24px;
    color: #888888;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}

.search__form-btn{
    border: none;
    padding: 21px 23px 21px 36px;
    color: #fff;
    background-color: #c4c4c4;
    font-size: 24px;
    height: 70px;
   /* width: 120px;  размер стоит ли писать? */
    position: relative;
}

.search__form-btn::before{
    content: url(../images/search-item.svg);
    position: absolute;
    left: 10px;
    top: 23px;
    width: 18px;
    height:18px;
}
.container{
    max-width:1240px ;
    margin: 0 auto;
    padding: 0 10px;  
}

.popular-title{
    background-color: #000;
    font-weight: normal;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
    text-align: center;
    padding: 18px 0;
}
.popular__inner{
    display: flex;
    justify-content:space-between;
}

.popular__item{
    padding: 100px 0;
    text-align: center;
}

.popular__img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;

}

.popular__item-title{
    padding: 30px 10px;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #888888;
}
.popular__link{
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    background: #C4C4C4;
    padding: 15px 50px;
}
.reason{
    padding: 100px 0;
}
.reason__inner{
    display: flex;
    justify-content: space-between;
}
.reason__item{
    width:450px;
}

.reason__title{
    font-family: 'Roboto Condensed',serif;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 20px;
    padding-left: 136px; 
    position: relative;   
}

.reason__title::before{
    content: '';
    height: 103px;
    width: 103px;
    position: absolute;
    left: 0;
    top:0;
}

.reason__title--icon1::before{
    background: url(../images/time.png);
}

.reason__title--icon2::before{
    background: url(../images/globus.png);
}

.reason__text{
    margin-bottom: 45px;
}

.reason__link{
    padding-left: 36px;
    margin-bottom: 30px;
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-decoration-line: underline;    
    color: #888888;
}

.reason__link::before{
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/arrow-black.svg);
}

.best{
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    text-align: right;
    background-repeat: no-repeat ;
    
}

.best__title{
    margin-left: auto;
    margin-bottom: 15px;
    width: 492px;   
    padding-top: 60px; 
    font-family: PT Serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: right;
    color: #FFFFFF;
}

.best__link{
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
    padding: 16px 18px;
    background-color:black;
    display:inline-block;
}

.about{
    background: #000000;
    padding: 100px 0;
}

.about__inner{
    display: flex;
    justify-content: space-between;
}

.our-managers{
    width: 300px;
}

.our-managers__title{
    font-family: PT Serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.our-managers__items{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.our-managers__img{
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.our-managers__list{
    margin-bottom: 45px;
}

.our-managers__list li{
    font-family: Roboto Condensed;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.our-managers__btn{
    font-family: Roboto Condensed;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    padding: 15px 20px;
    background-color: #FFFFFF;
}
.about__title{
    font-family: PT Serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 50px;
    text-align: center;
}
.blog{
    width: 410px;
}
.blog__link{
    padding-left: 70px;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
}

.blog__link::before{
    content: url(../images/arrow-white.svg);
    top: -6px;
    left: 0;
    position: absolute;
    width: 30px;
    height: 30px;
}

.reviews{
    width: 300px;
}
.reviews__img{
    margin-bottom: 20px;
    height: 127px;
    width: 300px;
    object-fit: cover;
}
.reviews__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 20px;
    width: 300px;
}

.reviews__btn{
    font-family: Roboto Condensed;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    padding: 15px 20px;
    background-color: #FFFFFF;
}

.footer{
    background-color: #000000;
}

.footer__inner{
    display: flex;
    align-items: center;
}
.footer__menu-list{
    width: 170px;
    margin-right: 130px;
}
.footer__menu-link{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    width: 180px;
}

.footer__form{
    display: flex;
    align-items: center;
}

.contact-us{
    font-weight: 400;
    font-size: 18px;
    color: #888888;
    margin-right: 10px;
    cursor: pointer;
}
.footer__search{
    font-family: 'Roboto Condensed',sans-serif;
    height: 70px;
    width: 490px;
    padding: 0 15px;
    font-weight: 400l;
    font-size: 18px;
    line-height: 24px;
    color: #888888;
    border: none;
    display: block;
}

.footer-search::placeholder{
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #888888;
}

.footer__btn{
    border: none;
    padding: 25px 35px ;
    color: #fff;
    background-color: #c4c4c4;
    font-size: 18px;
    cursor: pointer;
}

.footer__logo{
    background-color: white;
    text-align: center;
    padding: 3px 0 23px;
}
@media(max-width:992px){
    
}
@media(max-width:768px){
    .logo__link-img{
        max-width: 250px;
    }
    .header__logo{
        padding: 40px 0 30px;
    }
    .menu__list-link{
        padding: 24px 10px 28px;
        font-size: 20px;
    }
    .slider__item{
        min-height: 400px;
    }
}

@media(max-width:600px){
    .menu__list{
        display: block;
    }
    .menu__list-item{
        width: 100%;
        border: none;
    }
    .menu__list-link{
        padding: 17px 10px;
        font-size: 17px;
        border-bottom:1px solid #C4C4C4;
    }
}

